    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Velicus</h2>
                <p>Velicus, short for Endovelicus, was a god of health that was adopted by the Romans and took on responsibilities related more to public health than any other aspect of health care.</p>
                <p>At Velicus Consulting, we approach information from a public health perspective. How can we use information to improve health literacy and access to knowledge?</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            </div>
        </div>
    </section>
